<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="WarehouseDataBaseEntities" connectionString="metadata=res://*/WarehouseDataBaseModel.csdl|res://*/WarehouseDataBaseModel.ssdl|res://*/WarehouseDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1NJBBB0\SQLEXPRESS;initial catalog=WarehouseDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>